.sidenav {
  height: 100%;
  width: 307px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #212529;
  overflow-x: hidden;
  padding-top: 100px;
}
.sidenav h2 {
  margin-top: -80px;
  margin-left: 65px;
  color: #ffdd00;
  font-size: 26px;
}
.sideNavItem {
  margin-top: 40px;
}
.sidenav .links {
  padding: 8px;
  margin-left: 60px;
  text-decoration: none;
  font-size: 18px;
  font-weight: light;
  color: white;
  display: block;
}

.main {
  margin-left: 350px;
  padding: 0px 10px;
}
