.contactContainer {
  margin-bottom: 100px;
}
.contactHeading {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
.contactTitle {
  text-align: center;
  color: gray;
}
.contact {
  background-image: url(../../../images/contactbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 20px 0 5px 0;
}
.form-group {
  margin: 20px;
}
.contactButton {
  border-radius: 4px;
  background-color: #ffdd00;
  border: none;
  color: black;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  padding: 10px;
  width: 922px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: right;
}

.contactButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contactButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.contactButton:hover span {
  padding-right: 25px;
}

.contactButton:hover span:after {
  opacity: 1;
  right: 0;
}

@media (width: 360px) {
  .contactButton {
    font-size: 19px;
    width: 140px;
  }
}
