h3 {
  margin-bottom: -20px;
}
.service-form {
  margin: 30px 100px;
}
.service-form input {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
}
.info-input {
  height: 35px;
}
.service-image {
  border: none !important;
  outline: none !important;
  font-size: 15px;
}
.bookButton {
  margin-left: 155px;
  transform: translateX(-50%);
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  background: #27a327;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  transition: 0.3s;
}
.error {
  color: red;
}
